

<div *ngIf="movie" class="card" style="width: 18rem;" (click)="singleMovie(movie?.id || '' )">
    <img [src]="movie?.poster" class="card-img-top" alt="...">
    <div class="card-body">
        
        <h5 class="card-title" [innerText]="movie?.title"></h5>
        <!-- <p class="card-text" [innerText]="movie.overview"></p> -->
        <p class="card-text" [innerText]="movie?.cast"></p>
        <p class="card-text" [innerText]="movie?.genres"></p>
        
        <p class="card-text"><small class="text-muted" [innerText]="movie?.length"></small></p>
        
    </div>
</div>

